@import "_reset";
@import "_variables";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $gulp_red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  margin-top: 0.5em;
  color: white;
  font-size: 3em;
  font-weight: 300;
}

img {
  width: 10em;
}

header,
footer {
  display: none;
}
